.taskListWrapper {
  display: table;
  border-bottom: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid;
  height: 100%;
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListTableRow:nth-of-type(even) {
  background-color: #f5f5f5;
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
}

.button {
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border: none;
}

.button:hover {
  opacity: 0.8;
}

.novisible {
  display: none;
}

.taskContainer{
  transition: all 0.3s ease-in-out;
  margin-top: 0;
}

.toggle{
  height: 0px;
  opacity: 0;
}
